{% extends "layouts/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center mb-4">
        <div class="col-8 text-center">
            <h2>Название препарата</h2>
            <input type="text" class="form-control" id="ask-name" value="{{ drug_name }}">
            <h2>Описание препарата</h2>
            <textarea class="form-control" id="ask-description" rows="4">{{ drug_description }}</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Помогает от таких болезней как:</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for illness in selected_illnesses %}
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 100%; max-width: 300px;">
                <img src="{{ illness.photo }}" class="img-fluid rounded-start" style="width: 100%; height: 250px; object-fit: cover;" alt="...">
                <div>
                    <div class="card-body text-center">
                        <h3 class="card-title">{{ illness.name }}</h3>
                        <h3 class="card-title">
                            Клинические испытания: 
                            <input type="text" name="result" value="{{ illness_result|index:illness.id }}" class="form-control" style="display:inline-block; width:auto;">
                        </h3>                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <form method="POST" action="{% url "delete_drug" drug.id %}" class="button-container">
        {% csrf_token %}
        <button class="del-btn">Удалить заявку</button>
    </form> 
</div>
{% endblock %}
