{% extends "layouts/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="drug-container">
    <!-- Блок с названием и описанием препарата -->
    <div class="drug-row drug-center">
        <div class="drug-col text-center">
            <h2 class="drug-title">Название препарата</h2>
            <input type="text" class="drug-input" id="ask-name" value="{{ drug_name }}">
            <h2 class="drug-title">Описание препарата</h2>
            <textarea class="drug-textarea" id="ask-description" rows="4">{{ drug_description }}</textarea>
        </div>
    </div>

    <!-- Подзаголовок для списка заболеваний -->
    <div class="drug-row">
        <div class="drug-col">
            <h3 class="drug-subtitle">Помогает от таких болезней как:</h3>
        </div>
    </div>

    <!-- Карточки болезней -->
    <div class="cards-container three-columns">
        {% for illness in selected_illnesses %}
            <div class="disease-card si{{ forloop.counter }}">
                <div class="disease-content text-center">
                    <a href="{% url 'illness' illness.id %}">
                        <!-- Изображение с белой рамкой и скругленными углами -->
                        <div class="disease-image-container">
                            <img src="{{ illness.photo }}" class="disease-image" alt="{{ illness.name }}">
                        </div>
                        <h2 class="disease-title">{{ illness.name }}</h2>
                    </a>
                    <!-- Поле для ввода результатов клинических испытаний -->
                    <h3 class="card-title">
                        Клинические испытания: 
                        <input type="text" name="result" value="{{ illness_result|index:illness.id }}" class="drug-input-inline">
                    </h3> 
                </div>
            </div>
        {% endfor %}
    </div>     

    <!-- Кнопка для удаления заявки -->
    <div class="button-container">
        <form method="POST" action="{% url "delete_drug" drug.id %}">
            {% csrf_token %}
            <button class="add-request-button styled-button">Удалить заявку</button>
        </form>
    </div> 
</div>
{% endblock %}
