{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="clinpharm-content">
    <div class="container">
        <!-- Поисковая строка -->
        <div class="search-section">
            <form class="search-form" method="GET" action="{% url 'index' %}" role="search">
                <div class="search-container">
                    <input class="search-input" type="search" name="illness" placeholder="Способ передачи болезни" value="{{ query|default:'' }}">
                    <button type="submit" class="search-button">
                        <img src="{% static 'img/search.png' %}" class="search-icon" alt="Search">
                    </button>
                </div>
            </form>
        
            <!-- Кнопка "плюс" справа от поиска -->
            <div class="d-flex flex-column align-items-end position-relative plus-button-container">
                {% if drug %}
                    <a href="{% url 'drug' drug.id %}">
                        <img src="{% static 'img/plus.png' %}" height="50px">
                    </a>
                    <span class="badge bg-warning badge-position">{{ drug.count }}</span>
                {% else %}
                    <a href="#" class="btn btn-outline-warning">
                        <img src="{% static 'img/plus.png' %}" height="50px">
                    </a>
                    <span class="badge bg-warning badge-position">0</span>
                {% endif %}
            </div>
        </div>
        
        <!-- Карточки болезней с градиентом зелёного -->
        <div class="cards-container three-columns">
            {% for illness in illnesses %}
                <div class="disease-card si{{ forloop.counter }}">
                    <div class="disease-content">
                        <a href="{% url 'illness' illness.id %}">
                            <!-- Изображение болезни с белой рамкой и скругленными углами -->
                            <div class="disease-image-container">
                                <img src="{{ illness.photo }}" class="disease-image" alt="{{ illness.name }}">
                            </div>
                            <h2 class="disease-title">{{ illness.name }}</h2>
                        </a>
                        <p class="disease-spread">Способ передачи: {{ illness.spread }}</p>
                        
                        <!-- Кнопка с новым стилем -->
                        <form method="POST" action="{% url 'add_illness_to_drug' illness.id %}">
                            {% csrf_token %}
                            <button type="submit" class="add-request-button styled-button">
                                    Добавить заявку
                            </button>
                        </form>                        
                        <!--  <button class="add-request-button styled-button">Добавить в заявки</button> -->
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>
</div>
{% endblock %}
